
body {
    background: #585269;
    font-family: Arial;
}
h1 {
    color: red;
}
/* E0nxslsvx09OtxpuiuSye3DCmKZWXqyaXKGWo56DRpz15SbnXMrzaVd30GJhGKKRvGrFWk7Oc5qW6AGQejOYatpgquHizEJ47JAnzZB9YZDinGqRmMLY8Q24UDGCGQkTPGGvmdd7OUws1RBpFEx0wQzd7VyRfw00ZYu7IkRhIliDwCWy3458XtTLVr39Sapz8PU3nDWT */
